@mixin section-title {
  font-size: 32px;
  line-height: 42px;
}

@mixin product-title {
  font-size: 22px;
  line-height: 29px;
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin button-primary {
  height: $button-height;
  color: $color-light;
  background-color: $color-dark;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: $color-light;
    color: $color-dark;
    border: 1px solid $color-dark;
    cursor: pointer;
  }
}

@mixin button-secondary {
  height: $button-height;
  color: $color-dark;
  background-color: $color-light;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: $color-dark;
    color: $color-light;
    cursor: pointer;
  }
}
